/* ol{
    list-style-type: lower-latin;
} */

/* table, td, th{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

td{
    text-align: center;
} */

/* .block1{
    width: 200px;
    height: 150px;
    border: 5px solid black;
    padding: 20px;
    box-sizing: border-box;
} */

/* .text1:focus{
    color: blue;
    border: 5px solid blue;
} */
